html { 
    font-size: 1.44rem;
    line-height: 1.44;
    height: 100%;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 { 
    font-size: 1.777rem;
}

h4 {
    font-size: 1.777rem;
}

pre, 
code { 
    font-size: 1.2rem;
    color: white;
    white-space: pre-wrap;
    background-color: rgb(48, 48, 48);
}
