* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

#header {
    background-color: rgb(183, 132, 102);
    height: 2.5em;
    display: block;
    padding: .5em;
    color: white;
    font-size: 1.5em;
    font-style:bold;
    font-family: Arial, Helvetica, sans-serif;
}



#cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    padding: 8%;
}

#cards img {
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.5s;
    height: 15em;
} 

#cards figure {
    position: relative;
    
}

#cards a {
    color: rgb(227, 154, 99);
    border: 2px solid rgb(255, 216, 193);
    border-radius: 1rem;
    overflow: hidden;
    width: 10em;
}

#cards a:hover {
    color: rgb(160, 255, 253);
    transition: 0.2s;
}



#cards .over {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#cards a:hover .over {
    opacity: 1;
} 


@media screen and (min-width: 700px) {
    #cards a {
        width: 100px;
    }
    #cards img {
        width: 100px;
    }  
} 
@media screen and (min-width: 1000px) {
    #cards a {
        width: 250px;
    }
    #cards img {
        width: 250px;
    }  
} 
@media screen and (min-width: 1700px) {
    #cards a {
        width: 300px;
    }
    #cards img {
        width: 300px;
    }
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 

