/* basic reset ^_^ */
* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(151, 144, 223);
    line-height: 19px;
    margin-left: 10px;
    padding: 20px;
    
    background-image: url('https://i.pinimg.com/736x/25/5b/76/255b76659a5d7a35bb76c3a4e903514c.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}




#container {
    padding: 100px;
    display: grid;
    

    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid-item {
    background-color: white;
    min-block-size: 10;
    align-items: center;
    
}

.grid-item.a {
    font-weight: bolder;
    color: rgb(116, 119, 240);
    font-size: 30;
    grid-column: 1 / 3;
    grid-row: 1;
    min-height: 50px;
    padding: 30px;
}


.grid-item.b {
    grid-column: 1;
    grid-row: 2;
    min-height: 50px;
    
    padding: 30px;
}

.grid-item.b img{
    height: 120px;
    width: auto;
    border-radius: 10px;
}

.grid-item.c {
    grid-column: 2;
    grid-row: 2;
    min-height: 50px;
    padding: 30px;
}
.grid-item.c img{
    height: 100px;
    width: auto;
    border-radius: 10px;
  
}

.grid-item.d {
    grid-column: 1;
    grid-row: 3;
    min-height: 50px;
    padding: 30px;
   
}
.grid-item.d img{
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.grid-item.e {
    grid-column: 2;
    grid-row: 3;
    min-height: 50px;
    padding: 30px;
   
}
.grid-item.e img{
    height: 120px;
    width: auto;
    border-radius: 10px;
}

.grid-item.f {
    grid-column: 1 / 3;
    grid-row: 4;
    min-height: 100px;
    padding: 30px;
    background-color: white;
   
}

.grid-item.g {
    padding: 30px;
    grid-column: 1 /3;
    grid-row: 5;
    size: 50px 50px;
    align-items: center;
}

.grid-item.g img{
    object-fit: cover;
    object-position: 50% 50%;
    height: max-content;
    width: 100%;
    border-radius: 30px;
}


.border {
    box-shadow: 0px 0px 50px white;
    border-radius: 30px;
}

header {
    width: 200px;
    height: 200px;
} */


nav ul li { 
    display: inline-block;
}

footer {
    padding: 20px;
}



input [type=text], input [type=password] textarea {
    display: block;
}