body { 
margin: 0px; 
overflow: hidden; 
}

.arrow { 
position: absolute; 
background: none; 
width: 3em; 
height: 3em; 
}

#uArrow { 
top:0px; 
width: 100%; 
}

#dArrow { 
bottom:0px; 
width: 100%; 
}

#lArrow { 
left:0px; 
height: 100%; 
}

#rArrow { 
right:0px; 
height: 100%; 
}

