* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    align-content: center;
}

body {
    font-family: "Sniglet", system-ui;
    font-size: 30px;
    text-align: center;
    background: rgb(227, 225, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
   
    color: rgb(59, 59, 59);
}







#shots {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    gap: 20px;
    padding: 20px;
    scrollbar-color: rgb(63, 63, 63);
}

#shots img {
    width: auto;
    height: 30%;
}

#shots-item { 
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    height: 450px;
    scrollbar-color: rgb(129, 129, 129) #000000;
 
} 


.border {
    box-shadow: 0px 0px rgb(0, 0, 0);
    border-radius: 30px;
}