* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    align-content: center;
}

body {
    font-family: "Sniglet", system-ui;
    font-size: 30px;
    text-align: center;
    background: rgb(227, 225, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(160, 244, 154) 100%);
   
    color: rgb(154, 208, 183);
}

#container {
    display: grid;
    padding: 50px;
    gap: 30px;
    grid-template-columns: 1fr;
    
    
}

.grid-item {
    background-color: rgba(87, 167, 180, 0.248);
    min-block-size: 10;
    align-items: center; 
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}

.grid-item img {
    height: 500px;
    width: auto;
    border-radius: 10px;
    box-shadow: -2px 2px 2px rgb(99, 192, 184);
}

.grid-item.d img {
    height: 150px;
    width: auto;
    border-radius: 10px;
    

}

.border {
    box-shadow: 0px 0px rgb(0, 0, 0);
    border-radius: 30px;
}