* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 192, 246);
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    align-content: center;
}

.circle.square {
    border-radius: unset; 
}

