* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: url(/net_pics/metalheart_62.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    opacity: 90%;
    background-position: 50%;
    background-color: rgb(32, 32, 36);
    /* background-image: linear-gradient(black, rgb(19, 17, 22), rgb(4, 3, 4)); */
    color: white;
    text-shadow: 0px 0px 10px rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    max-width: 800px;
    
}

article {
    margin: 4em;
}

#mg1 img {
    position: fixed;
    justify-self: center;
    height: 8%;
    z-index: 4;
    top: 0px;
    left: 0px;
    opacity: 50%;
    filter:brightness(110%);
}

#title {
    /* animation: move 3s infinite ease-in-out; */
    margin-top: 1em;
}
a{
    color: white;
}

/* icons */

#container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 3em;
    text-decoration: none;
    
}
#container1 a {
    text-decoration: none;

}
.icon {
 
    height: 10em;
    width: 10em;
    margin: auto;
    /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.65); */
    /* opacity: 80%; */
    transition: .4s;
    
}


.icon img {
    filter: brightness(70%);
    filter: contrast(130%);
}
.icon:hover {
    scale: 110%;
    opacity: 100%;
    filter: brightness(250%);
}



/* exercises videos */

#container2 {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 2em;
    margin-top: 2em;
}

.vid {
    background-color: rgb(0, 0, 0);
    margin: auto;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.65);
    transition: .3s;
    opacity: 80%;
}
.vid:hover {
    scale: 105%;
}
.vid iframe {
    aspect-ratio: 16/9;
    width: 100%;
}




/* @media screen and (min-width: 700px){
    section {
        grid-template-columns: 1fr 1fr;
        margin: 1em;
    }
} */
@media screen and (min-width: 1000px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        scale: 130%;
        margin-top: 6em
    }
    #container2 {
        width: 150%;
        align-items: center;

    }
    

}







