* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 167, 245);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.sec img{
    height: 400px;
    width: auto;
    border-radius: 1000px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}