body { 
margin: 0px; 
overflow: hidden; 
    background-image: url(/assets/bg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

.arrow { 
position: absolute; 
background: none; 
width: 3em; 
height: 3em; 
}

#uArrow { 
top:0px; 
width: 100%; 
}

#dArrow { 
bottom:0px; 
width: 100%; 
}

#lArrow { 
left:0px; 
height: 100%; 
}

#rArrow { 
right:0px; 
height: 100%; 
}

@keyframes float {
    0% {
        transform: translateY(0);   
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}