* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: url(/net_pics/puddle.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-color: rgb(100, 192, 253);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 204, 255);
    text-align: center;
    margin-top: 5rem;
    animation: fade-in 1s ease-in-out, float 2s infinite ease-in-out;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
    margin: 5rem;
    margin-top: 3rem;
}


button {
    height: 3rem;
    width: 100%;
    border-radius: 10rem;
    border-style:none;
    box-shadow: 0px 7px 3px rgb(255, 255, 255) inset, 0px -7px 15px rgb(222, 255, 208) inset, 0px 3px 10px rgba(114, 108, 143, 0.445);
    background-color: rgba(196, 243, 255, 0.5);
    color: rgb(11, 172, 212);
    text-shadow: 0px 0px 1px rgb(30, 255, 255);
    transition: .2s;
}
button:hover {
    background-color: rgba(164, 244, 255, 0.5);
    transform: scale(107%);
}

@keyframes fade-in {

      0% {
        transform: translateY(90%);
        opacity: 0%;
    }
    20% {
        transform: translateY(25%);
        opacity: 10%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes float {

    0% {
        transform: translateY(0%);
        
    }
    50% {
        transform: translateY(1.5%);
    }
    100% {
        transform: translateY(0%);
    }
}
