body {
    background-image: linear-gradient(to left,  rgb(243, 172, 106), white, rgb(169, 255, 255));
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(145, 145, 145);
}

/* #perdue {
    display: grid;
    grid-template-columns: 1fr;
} */
#perdue img{
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 0;
}
#gagner img{
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 0;
}



h1 {
    margin-top: 2em;
}

main {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 50rem;
    width: 60%;
    margin: auto;
    
}

#grille {
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: -7em; 
    
}

#grille .case {
    border: solid rgb(155, 155, 155) 2px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    background-size: contain;
} 
#grille .case:hover {
    background-color: rgb(250, 250, 250);
}

#reset {
    background-color: white;
    color: rgb(86, 90, 93);
    font-family: 'Times New Roman', Times, serif;
    height: 30%;
    width: 30%;
    border-style: double;
    border-color: rgb(175, 175, 175);
    margin-top: -5rem; 
}
#reset:hover {
    height: 25%;
    width: 35%;
}

#lore {
    position: fixed;
    min-width: 100%;
    bottom: 0;
    left: 0;
    /* animation: scroll 1.5s ease-in-out; */
}
#lore img {
    width: 30em;
    box-shadow: 5px 20px 15px rgba(77, 58, 58, 0.52);
}

#paper {
    position: fixed;
    bottom: 0;
    left: 0;
    background: none;
    border-style: none;
}
#paper img {
    height: 8rem;
}
#paper:hover {
    transform: scale(95%);
} 



@keyframes scroll {
    0% {
        transform: translateY(100%);   
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes down {
    0% {
        transform: translateY(0%);   
    }
    100% {
        transform: translateY(100%);
    }
}

