body {
    background-color: black;
    color: white;
    /* animation: fade-in 5s; */
}

button {
    background-color: black;
    border-color: white;
    color: white;
    border-width: 1px;
}

nav {
    text-align: center;
}
#ui {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 20% 60% 10%;
    margin: 1em;
    gap: 2px;
    
}
.item.a button{
    font-size: 10px;
    padding: 10%;
}
#view {
    align-content: center;
    /* background-image: url(./images/iamterrified.jpg); */
    /* width: 50%;
    height: 300px;
    margin: auto; */
    border: 1px white;

}
.item.c {
    font-size: 10px;
}


#ui img {
    width: 100%;
    height: auto;
    border-style:solid;
    border-width: 1px;
}

p{
    text-align: center;
}
#move {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#move button {
    padding: 10px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 800px){
    #ui {
         grid-template-columns: 25% 60% 10%;
         gap: 0px;
    }
    #ui img {
        width: 80%;
    }
    .item.a button{
        font-size: 20px;
    }
    .item.c {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }


    #move {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 20em;
        padding-inline: 1em;
    }
    

}